<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebase" version="2.0.5"
xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">

	<name>Google Firebase Plugin</name>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.2.0" />
	</engines>

	<platform name="ios">
		<hook type="after_plugin_install" src="scripts/ios/after_plugin_install.js" />
		<hook type="before_plugin_uninstall" src="scripts/ios/before_plugin_uninstall.js" />

		<js-module name="FirebasePlugin" src="www/firebase.js">
			<clobbers target="FirebasePlugin" />
		</js-module>
		<config-file parent="/*" target="config.xml">
			<feature name="FirebasePlugin">
				<param name="ios-package" value="FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
		    <string>development</string>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Release.plist">
			<string>production</string>
		</config-file>

		<resource-file src="src/ios/GoogleService-Info.plist" />

		<header-file src="src/ios/AppDelegate+FirebasePlugin.h" />
		<source-file src="src/ios/AppDelegate+FirebasePlugin.m" />
		<header-file src="src/ios/FirebasePlugin.h" />
		<source-file src="src/ios/FirebasePlugin.m" />

		<header-file src="src/ios/Firebase/Firebase.h" />

		<framework custom="true" src="src/ios/Crashlytics/Crashlytics.framework" />
		<framework custom="true" src="src/ios/Crashlytics/Fabric.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/GoogleAppMeasurement.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/MeasurementNanoPB.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseCore.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseAnalytics.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/GoogleUtilities.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/nanopb.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseInstanceID.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseCoreDiagnostics.framework" />
		<framework custom="true" src="src/ios/Firebase/Auth/GTMSessionFetcher.framework" />
		<framework custom="true" src="src/ios/Firebase/Auth/FirebaseAuth.framework" />
		<framework custom="true" src="src/ios/Firebase/Messaging/FirebaseMessaging.framework" />
		<framework custom="true" src="src/ios/Firebase/Performance/GoogleToolboxForMac.framework" />
		<framework custom="true" src="src/ios/Firebase/Performance/FirebasePerformance.framework" />
		
		<framework custom="true" src="src/ios/Firebase/RemoteConfig/FirebaseRemoteConfig.framework" />
		<framework custom="true" src="src/ios/Firebase/RemoteConfig/FirebaseABTesting.framework" />
	</platform>

	<platform name="browser">
		<js-module name="FirebasePlugin" src="www/firebase-browser.js">
			<clobbers target="FirebasePlugin" />
		</js-module>
	</platform>

	<hook type="after_prepare" src="scripts/after_prepare.js" />
</plugin>
